<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Customer Infor</h1>
        {% for customer in first_ten_cust %}
            <div>
                <p>Name:{{ customer.name }}</p>
                <p>Gender:{{ "Male" if customer.gender == 1 else "Female" }} </p>
                <p>Email:{{ customer.email }}</p>
                <p>Phone:{{ customer.phone }}</p>
                <p>Job:{{ customer.job }}</p>
                <p>Company:{{ customer.company }}</p>
                <p>Status:{{ customer.contacted }}</p>
            </div>
            <hr>
        {% endfor %}
</body>
</html>