<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Search</h1>
    {% for service in all_service %}
        <div>
            {% if service.gender == 0 %}
                <img src="../static/image/female-profile.jpg" alt="">
            {% else %}
                <img src="../static/image/male-profile.jpg" alt="">
            {% endif %}
            <p>Tên: {{service.name}}</p>
            <p>Giới Tính: {{service.gender}} </p>
            <p>Chiều Cao: {{service.height}} </p>
            <p>Địa Chỉ: {{service.address}} </p>
            <p>Dob: {{service.dob}} </p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>